.contribSummary {
    background-color: #b0b0b0;
    width: 200px;
    padding: 25px;
    border-radius: 20px;
    margin-left: 50px;
 }
 .contribSummaryEntry {
    color: #ffffff;
    padding: 0px;
 }
 